/*
Fontawesome
=========================== */
@import url('font-awesome.css');
@import url('icon-set.css');

/*
Typography
=========================== */
a:link{
	transition-property:color .3s linear 0s;
	-moz-transition:color .3s linear 0s;
	-webkit-transition:color .3s linear 0s;
	-o-transition:color .3s linear 0s;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	font-weight:bold;
	color: inherit;
	text-rendering: optimizelegibility;
}

h1 {
  font-size: 62px;
  line-height:76px;
}

h2 {
  font-size: 48px;
  line-height:54px;
}

h3 {
  font-size: 36px;
  line-height:42px;
}

h4 {
  font-size: 22px;
  line-height:32px;
}

h5 {
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-size: 14px;
  	line-height: 18px;
}

body{
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	font-weight:normal;
	font-size:13px;
	line-height:22px;
}

.bs-docs-nav{
	background:#1b1b1c;
}

.bs-header{
	color:#fff;
}

.bs-header h1{
	color:#fff;
}

.page-section{
	padding:20px 0 0 0;
}

.list{
	margin:0;
	padding:0;
	list-style:none;
}

.list li{
	margin-bottom:20px;
}

.list li ol li, .list li ul li{
	margin:5px 0 5px 0;
}

.head{
	font-weight:600;
}

footer{
	width:100%;
	color:#fff;
	text-align:center;
	padding:40px 0 40px 0;
	margin-top:40px;
}

footer a, footer a:hover{
	color:#1b1b1c;
}

.footer-social{
	width:100%;
	text-align:center;
	font-size:46px;
	line-height:46px;
	margin-bottom:35px;
}

.footer-social a{
	text-decoration:none;
	color:#fff;
	margin:0 10px 0 10px;
}

.footer-social a:hover{
	color:#fff;
}

ul.fotter-nav{
	list-style:none;
	text-align:center;
	width:100%;
	margin:10px 0 35px 0;
	padding:0;
}

ul.fotter-nav li{
	display:inline-block;
	margin:0;
	padding:0 10px 0 10px;
}

ul.fotter-nav li a{
	color:#767d85;
	text-decoration:none;
}

ul.fotter-nav li a:hover{
	color:#767d85;
}

/*
Heading
=========================== */
.heading {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 9px;
	margin-bottom:20px;
}
.heading span {
	position: absolute;
	width: 80px;
	height: 2px;
	bottom: -1px;
	left: 0;
}